{:service-map {:env :dev
               :io.pedestal.http/type :jetty
               ;; use 3001 instead of 3000 to avoid conflicts with Backstage and other apps commonly using 3000
               :io.pedestal.http/port 3001
               :io.pedestal.http/join? false}
 ;; see https://docs.datomic.com/cloud/dev-local.html
 ;; for peer server setup with client lib see https://docs.datomic.com/on-prem/client/client-getting-started.html
 :database {;; :server-type :dev-local

            ;; only needed for peer server
            :server-type :peer-server ; only for Peer server
            :access-key "myaccesskey" ; only for Peer server
            :secret "mysecret" ; only for Peer server
            :endpoint "localhost:8998" ; only for Peer server
            :validate-hostnames false ; only for Peer server
            :db-uri "datomic:dev://localhost:4334/learn-pedestal-development" ; only for Peer library

            :storage-dir :mem ; only needed for dev-local
            :system "dev" ; in the video they used "api.learnpedestal.com"
            :db-name "learn-pedestal-development"}}
