{:service-map {:io.pedestal.http/type :jetty
               ;; use 3001 instead of 3000 to avoid conflicts with Backstage and other apps commonly using 3000
               :io.pedestal.http/port 3001
               :io.pedestal.http/join? false}
 ;; see https://docs.datomic.com/cloud/dev-local.html
 :database {:server-type :dev-local
            :system "dev" ; in the video they used "api.learnpedestal.com"
            :storage-dir :mem
            :db-name "development"}}
